pipeline/copy_all_pipeline.json
{
	"name": "copy_all_pipeline",
	"properties": {
		"activities": [
			{
				"name": "For_Each_schema_Tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_all_tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_all_tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy each table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@{concat('SELECT * FROM ',item().SchemaName,'.',item().TableName)}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_SqlServerTable_All",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ParquetTables",
									"type": "DatasetReference",
									"parameters": {
										"schemaname": {
											"value": "@item().SchemaName",
											"type": "Expression"
										},
										"tablename": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup_all_tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT \ns.name as SchemaName,\nt.name as TableName \nFROM sys.tables t\nINNER JOIN sys.schemas s\nON t.schema_id =  s.schema_id\nWHERE s.name='SalesLT'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_SqlServerTable_All",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "For_Each_schema_Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://adb-7405604921755120.0.azuredatabricks.net/api/2.0/pipelines/f40dca30-a471-4eef-8d4e-91aae8658a45/start",
					"body": {
						"value": "@activity('Lookup_all_tables').output.value",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://databricks.azure.net/"
					}
				}
			},
			{
				"name": "bronze_to_silver_transformations",
				"description": "bronze_to_silver_transformations",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "For_Each_schema_Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/gijobaby.info@gmail.com/data_project_01/02_Transformations/bronze_to_silver_transformations"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "silver_to_gold_transformations",
				"description": "silver_to_gold_transformations",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "bronze_to_silver_transformations",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/gijobaby.info@gmail.com/data_project_01/02_Transformations/silver_to_gold_transformations"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"test": {
				"type": "String"
			}
		},
		"folder": {
			"name": "P0_Data_Migration"
		},
		"annotations": [],
		"lastPublishTime": "2026-02-13T20:22:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}